<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>

    <div class="content-wrapper">
        <!-- 左侧图片 -->
        <div class="left-image">
            <img src="{% static 'images/1.jpg' %}" alt="左侧图片">
        </div>

        <!-- main 内容框 -->
        <main>
            <nav>
                <a href="{% url 'add_diary' %}" class="nav-button">新增日记</a>
            </nav>

{#            <h3>所有日记：</h3>#}
            <ul>
                {% for diary in diaries %}
                    <li>
                        <a href="{% url 'diary_detail' diary.id %}" class="diary-link">
                            <div class="diary-content">
                                <h4>{{ diary.title }}</h4>
                                <p class="diary-date">{{ diary.created_at|date:"Y.m.d H:i:s" }}</p>
                                <p>{{ diary.content|truncatewords:30 }}</p>
                                {% if diary.image %}
                                    <img src="{{ diary.image.url }}" alt="Diary Image" class="diary-image">
                                {% endif %}
                            </div>
                        </a>
                        <form method="POST" action="{% url 'delete_diary' diary.id %}" class="delete-form">
                            {% csrf_token %}
                        </form>
                    </li>
                {% empty %}
                    <li>没有任何日记。</li>
                {% endfor %}
            </ul>

            <!-- 分页控件 -->
            <div class="pagination">
                <span class="step-links">
                    {% if diaries.has_previous %}
                        <a href="?page=1">首页</a>
                        <a href="?page={{ diaries.previous_page_number }}">上一页</a>
                    {% endif %}

                    <span class="current">
                        第 {{ diaries.number }} 页 / 共 {{ diaries.paginator.num_pages }} 页
                    </span>

                    {% if diaries.has_next %}
                        <a href="?page={{ diaries.next_page_number }}">下一页</a>
                        <a href="?page={{ diaries.paginator.num_pages }}">尾页</a>
                    {% endif %}
                </span>
            </div>
        </main>

        <!-- 右侧图片 -->
        <div class="right-image">
            <img src="{% static 'images/2.jpg' %}" alt="右侧图片">
        </div>
    </div>

    <footer>
        &copy; {{ year }} 我和你 | 记录生活，点滴回忆
    </footer>
</body>
</html>
